.iconed-link {
    display: flex;
    align-items: center;
    &:hover {
        text-decoration: underline;
    }
}

.iconed-link__svg {
    fill: #586ed3;
    width: 15px;
    height: 15px;
    margin-right: 20px;
}
