.scroll-down-btn {
    color: $text-color;
    font-weight: 600;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
}

.scroll-down-img__icon {
    width: 30px;
    height: 30px;
    fill: #fff;
}

