.slider__content {
    display: flex;
}

.slider__header {
    display: flex;
    width: 100%;
    margin-bottom: 96px;
}

.slider__item {
    display: flex;
}

.slider__pic {
    margin-right: 22px;
}


