.slider__header {
    display: flex;
    width: 100%;
    margin-bottom: 96px;

    @include phones {
        flex-direction: column;
        align-items: center;
    }
}

.slider__item {
    display: flex;
}

.slider__pic {
    margin-right: 22px;
    width: 75px;
    height: 63px;

    @include phones {
        display: none;
    }
}


