.userinfo {
    display: flex;
    justify-content: center;
}

.userinfo__name{
    font-size: 72px;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    font-weight: 800;
    flex-basis: 400px;
    line-height: 1;
}

.userinfo__title {
    font-weight: 600;
    font-size: 18px;
    text-align: right;
    color: rgba($text-color, .4);
    width: 17%;
    line-height: 1.2;
    margin-right: 62px;
}
