.user {
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include phones {
        margin-bottom: 31px;
    }
}

.user__avatar {
    width: 200px;
    height: 200px;
}

.user__avatar-pic {
    border-radius: 50%;
}

.user__data {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
}

.user__data tr > td {
    padding-bottom: 20px;
}

.user__data-title {
    color: rgba("#fff", .15);
}
