.welcome-section {
    background: url("~images/bg/hero.jpg") center top / cover no-repeat;
    @include desktop {
        background: url("~images/bg/hero2.jpg") center top / cover no-repeat;
    }
}
