.skill-component {
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
}

.title {
    justify-self: start;
    font-size: 16px;
}

.percent {
    margin-left: auto;
}

.buttons {
    margin-left: 61px;
}

.btn:last-child {
    margin-left: 20px;
}
